flask
feedparser
requests
beautifulsoup4
gunicorn
flask-cors
nest_asyncio
waitress
requests-html
ics
lxml[html_clean]
lxml_html_clean
selenium
webdriver-manager
pytz
cloudscraper 
urllib3
playwright
chromium
chromedriver-autoinstaller
